
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .ajax__tab_header{
        font-size:14px;
    }

    .ajax__tab_xp .ajax__tab_header .ajax__tab_active .ajax__tab_inner {
                font-size:14px;
    }
</style>

<div ng-app="UsuariosIngresosWeb" ng-controller="UsuariosController as ctrl">
    <div class="content">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div id="bttn-usuarios" class="bd-example bd-example-images container col-md-10">
                <h2 style="text-align:center">Usuarios</h2>
                <div class="col-md-12" style="left:20%">
                    <img data-src="holder.js/200x200" class="rounded float-left" alt="200x200" src="~/Images/Usuario.png" data-holder-rendered="true" style="width: 200px; height: 200px;" ng-click="ctrl.UsuariosNormales()">
                    <img data-src="holder.js/200x200" class="rounded float-right" alt="200x200" src="~/Images/Administrador.png" data-holder-rendered="true" style="width: 200px; height: 200px;" ng-click="ctrl.UsuariosAdministradores()">
                    <img data-src="holder.js/200x200" class="rounded float-left" alt="200x200" src="~/Images/Configuracion.png" data-holder-rendered="true" style="width: 200px; height: 200px;" ng-click="ctrl.Grupo()">
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
    <div id="form-usuarios" class="form-inline hidden">
        <div class="content">
            <div class="row">
                <div class="col text-center" style="margin-left: auto; margin-right: auto;">
                    <div id="precarga" class="show"><input type="image" src="~/Images/loader.gif" /></div>
                </div>
            </div>
            <div class="row">
                <div id="divError" class="alert alert-danger hidden" role="alert">
                    {{ctrl.mensaje}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    Busqueda
                </div>
                <div class="col-md-9">
                    <input type="text" class="form-control  border border-success" placeholder="Busqueda" ng-model="ctrl.buscar" style="max-width:100%;">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    <table class="table table-striped" style="font-size:12px;">
                        <thead style="background-color:#d2af47; color:#fff">
                            <tr>
                                <td>USUARIO</td>
                                <td>NOMBRE COMPLETO</td>
                                <td>PASSWORD</td>
                                <td>TELEFONO</td>
                                <td>CORREO</td>
                                <td>ESTATUS</td>
                                <td><button type="button" class="btn btn-secondary" ng-click="ctrl.AgregarUsuario()">Nuevo Usuario</button></td>
                            </tr>
                        </thead>
                        <tbody ng-pagination="usu in ctrl.usuarios | orderBy:sortType:sortReverse | filter:ctrl.buscar  | itemsPerPage: 7  ">

                            <tr>
                                <td>{{usu.UsuarioIng}}</td>
                                <td>{{usu.NombreIng}}</td>
                                <td>{{usu.Contrasenia}}</td>
                                <td>{{usu.Telefono}}</td>
                                <td>{{usu.EMail}}</td>
                                <td>{{usu.Status}}</td>
                                <td class="text-center"><button type="button" class="btn btn-secondary" ng-click="ctrl.ObtDatos(usu.UsuarioIng)">Editar</button></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="4">
                                    <ng-pagination-control boundary-links="true"></ng-pagination-control>
                                </th>
                                <th></th>
                                <th style="text-align:right" colspan="3">
                                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Generar Reporte en Excel" ng-click="ctrl.exportTableToExcel('table_basico')" style="width:50px">
                                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Generar Reporte en PDF" ng-click="ctrl.BorrarImpViatico($index)" style="width:50px">
                                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                    </button>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-secondary" ng-click="ctrl.Regresar()">Regresar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/global.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular.ng-modules.js"></script>
<script src="~/Scripts/angular-pagination.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="~/Scripts/Models/UsuariosModel.js"></script>
<script src="~/Scripts/Controllers/UsuariosController.js"></script>

