
@{
    ViewBag.Title = "PagosSYSWEB_a_SIAE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pagos SYSWEB a SIAE</h2>

<div id="PagosSYSWEBSIAE" ng-app="PagosSYSWEB" ng-controller="PagosSYSWEBController as ctrl" ng-init="ctrl.Inicio()">
    <div class="form-inline">
        <div class=".col-sm-1">
            <div id="precarga" class="hidden"><input type="image" class="center" src="~/Images/loader.gif" /></div>
        </div>
        <div id="divError" class="alert alert-danger hidden" role="alert">
            {{ctrl.mensaje_gral}}
        </div>
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-3">
                    <p>Buscar por Referencia:</p>
                </div>
                <div class="col-sm-9">
                    <div>
                        <input class="form-control" name="txtBuscar" type="text" ng-model="ctrl.cve_busca_ref_sysweb" required />
                        <button type="button" class="btn btn-primary" ng-click="ctrl.ObtenerReferencias()" style="width:50px">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="font-weight-bold">Referencia SYSWEB</h3>
                <div id="TablaDatos">
                    <table class="table table-hover">
                        <thead style="font-weight:bold">
                            <tr>
                                <td>DEPENDENCIA</td>

                                <td>REFERENCIA</td>
                                <td>MATRICULA</td>
                                <td>NOMBRE</td>
                                <td>FECHA DE PAGO</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody ng-repeat="cts in ctrl.referencias_sysweb">
                            <tr>
                                <td>{{cts.Dependencia}}</td>
                                <td>{{cts.Referencia}}</td>
                                <td>{{cts.Matricula}}</td>
                                <td>{{cts.Nombre}}</td>
                                <td>{{cts.Fecha_Pago}}</td>
                                <td style="text-align:center">
                                    <button type="button" class="btn btn-info" style="width:50px" data-toggle="modal" data-target="#Agregar" ng-click="ctrl.DatosRefSYSWEB(cts.Referencia)">
                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="panel-heading">            
            <div>
                <h3 class="font-weight-bold">Referencia SIAE</h3>
                <div id="TablaDatos">
                    <table class="table table-hover">
                        <thead style="font-weight:bold">
                            <tr>
                                <td>DEPENDENCIA</td>
                                <td>REFERENCIA</td>
                                <td>MATRICULA</td>
                                <td>NOMBRE</td>
                                <td>FECHA DE PAGO</td>
                                <td>TIPO</td>
                                @*<td></td>*@
                            </tr>
                        </thead>
                        <tbody ng-repeat="cts in ctrl.referencias_siae">
                            <tr>
                                <td>{{cts.Dependencia}}</td>
                                <td>{{cts.Referencia}}</td>
                                <td>{{cts.Matricula}}</td>
                                <td>{{cts.Nombre}}</td>
                                <td>{{cts.Fecha_Pago}}</td>
                                <td>{{cts.Tipo}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
        <div class="modal fade" id="Agregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Referencia SYSWEB</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="Formulario">
                            <form name="FormsReferenciasSYSWEB" novalidate>


                                <div class="panel-heading">
                                    <div class="row">
                                        @*<div class="col-sm-3">
                <p>Escuela:</p>
            </div>
            <div class="col-sm-9">
                <div>
                    <select class="form-control select2" style="width:100%" name="cmbEscuela" id="cmbIEscuela" ng-change="ctrl.ObtenerCarreras()" ng-options="option.Id as option.Descripcion for option in ctrl.dependencias" ng-model="ctrl.cve_dependencia"></select>

                </div>
            </div>*@


                                        <div class="col-sm-3">
                                            <p>Referencia:</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <div>
                                                <input class="form-control" name="txtReferencia" type="text" ng-model="ctrl.cve_referencia" required disabled />
                                            </div>
                                        </div>


                                        <div class="col-sm-3">
                                            <p>Ciclo Escolar:</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <div>
                                                <select class="form-control select2" name="cmbCiclo" id="cmbCiclo" ng-options="option.Id as option.Descripcion for option in ctrl.ciclos_escolares" ng-model="ctrl.cve_ciclo"></select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <p>Tipo:</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <div>
                                                <select class="form-control" id="cmbTipo" ng-model="ctrl.cve_tipo">
                                                    <option value="T">--Todos--</option>
                                                    <option value="F">EXAMEN DE SELECCIÓN</option>
                                                    <option value="I">INSCRIPCIÓN</option>
                                                    <option value="R">REINSCRIPCIÓN</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <p>Ficha/Matricula:</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div>
                                                <input class="form-control" name="txtMatricula" type="text" ng-model="ctrl.cve_matricula" required />
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <p>Semestre:</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <div>
                                                <input class="form-control" name="txtSemestre" type="text" ng-model="ctrl.cve_semestre" required />
                                            </div>
                                        </div>

                                        @*<button type="button" class="btn btn-info" ng-click="ctrl.Buscar()">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>*@
                                    </div>
                                    <br />
                                    <div class="col-sm-12 text-center">
                                        <button type="button" class="btn btn-dark" ng-click="ctrl.AgregarSIAE()">Generar Registro en SIAE</button>
                                        @* <button type="button" class="btn btn-info" ng-click="ctrl.AgregarSIAE()">Generar Registro en SIAE</button>*@
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/global.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular.ng-modules.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="~/Scripts/Models/PagosSYSWEBModel.js"></script>
<script src="~/Scripts/Controllers/PagosSYSWEBController.js"></script>

