
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="UsuariosIngresosWeb" ng-controller="UsuariosController as ctrl" ng-init="ctrl.InicioAdmin()">
    <div class=" text-right">
        <button type="button" class="btn btn-warning" ng-click="ctrl.Salir()" data-dismiss="modal" aria-label="Close">Salir</button>
    </div>
    <div id="Formulario">
        <div class=".col-sm-12">
            <div id="precarga" class="show"><input type="image" class="center" src="~/Images/loader.gif" /></div>
        </div>

        <div class="container">
            <h2>Configuración del Usuario</h2>
            <p>Las opciones a las que tiene acceso el usuario.</p>

            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Usuario</a></li>
                <li><a data-toggle="tab" href="#menu1">Menu</a></li>
                <li><a data-toggle="tab" href="#menu2">Dependencias</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <h3>DATOS GENERALES</h3>
                    <form name="UserForms" novalidate>
                        <div class="row">
                            <div class="col-xs-6">
                                <input type="hidden" ng-model="ctrl.valor_id" />
                                <label for="lblUsuario">Usuario:</label>
                                <input class="form-control" id="txtUsuario" name="txtUsuario" type="text" ng-model="ctrl.cve_usuario" ng-maxlength="50" ng-required="true" />
                                <span style="color:red" ng-show="UserForms.txtUsuario.$invalid" />
                                <span ng-show="UserForms.txtUsuario.$error.required">*Usuario Requerido</span>
                            </div>
                            <div class="col-xs-6">
                                <label for="lblNombre">Nombre Completo:</label>
                                <input class="form-control" name="txtNombre" id="txtNombre" type="text" ng-model="ctrl.cve_nombre" ng-maxlength="50" ng-required="true" />
                                <span style="color:red" ng-show="UserForms.txtNombre.$invalid" />
                                <span ng-show="UserForms.txtNombre.$error.required">*Nombre Requerido</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="lblPassword">Contraseña:</label>
                                <input class="form-control" name="txtPassword" id="txtPassword" type="text" ng-model="ctrl.cve_password" ng-maxlength="50" ng-required="true" />
                                <span style="color:red" ng-show="UserForms.txtPassword.$invalid" />
                                <span ng-show="UserForms.txtPassword.$error.required">*Contraseña Requerida</span>
                            </div>
                            <div class="col-xs-6">
                                <label for="lblConfirmaPassword">Confirmar Contraseña:</label>
                                <input class="form-control" name="txtConfirmaPassword" id="txtConfirmaPassword" ng-model="ctrl.cve_password_confirm" type="text" ng-maxlength="50" ng-required="true" />
                                <span style="color:red" ng-show="UserForms.txtConfirmaPassword.$invalid" />
                                <span ng-show="UserForms.txtConfirmaPassword.$error.required">*Contraseña Requerida</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="lblCorreo">Correo:</label>
                                <input class="form-control" name="txtCorreo" id="txtCorreo" type="text" ng-model="ctrl.cve_correo" ng-maxlength="50" ng-required="true" />
                                <span style="color:red" ng-show="UserForms.txtCorreo.$invalid" />
                                <span ng-show="UserForms.txtCorreo.$error.required">*Correo Requerido</span>
                            </div>
                            <div class="col-xs-6">
                                <label for="lblTelefono">Teléfono(s):</label>
                                <input class="form-control" name="txtTelefono" id="txtTelefono" type="text" ng-model="ctrl.cve_telefono" ng-maxlength="50" ng-required="true" />
                                <span style="color:red" ng-show="UserForms.txtTelefono.$invalid" />
                                <span ng-show="UserForms.txtTelefono.$error.required">*Teléfono Requerido</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="lblDepAds">Dependencia de Adscripción:</label>
                                <select class="form-control" id="cmbDepAds" name="cmbDepAds" ng-options="option.Id as option.Descripcion for option in ctrl.ListaDependenciasTodas" ng-model="ctrl.cve_dep_ads" required></select>
                                <span style="color:red" ng-show="UserForms.cmbDepAds.$invalid" />
                                <span ng-show="UserForms.cmbDepAds.$error.required">*Dependencia Requerida</span>
                            </div>
                            <div class="col-xs-6">
                                <label for="lblDepAds">Estatus:</label>
                                <select class="form-control" id="cmbStatus" name="cmbStatus" ng-model="ctrl.status" required>
                                    <option value="A">ACTIVO</option>
                                    <option value="B">BAJA</option>
                                </select>
                                <span style="color:red" ng-show="UserForms.cmbStatus.$invalid" />
                                <span ng-show="UserForms.cmbStatus.$error.required">*Estatus Requerido</span>
                            </div>
                            @*<div class="col-xs-6">
                    <label for="lblTelefono">Telefono(s):</label>
                    <input class="form-control" name="txtTelefono" type="text" ng-model="ctrl.cve_telefono" ng-maxlength="50" ng-required="true" />
                    <span style="color:red" ng-show="UserForms.txtConfirmaPassword.$invalid" />
                    <span ng-show="UserForms.txtConfirmaPassword.$error.required">*Área Requerida</span>
                </div>*@
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <button ng-disabled="UserForms.txtUsuario.$invalid||UserForms.txtNombre.$invalid||UserForms.txtPassword.$invalid||UserForms.txtConfirmaPassword.$invalid||UserForms.txtCorreo.$invalid||UserForms.txtTelefono.$invalid||UserForms.cmbDepAds.$invalid||UserForms.cmbStatus.$invalid" type="button" id="btnGuardar" class="btn btn-success" ng-click="ctrl.GuardarUsuario()" data-dismiss="modal">Guardar Datos Generales</button>
                                <button ng-disabled="UserForms.txtPassword.$invalid||UserForms.txtConfirmaPassword.$invalid||UserForms.txtCorreo.$invalid||UserForms.txtTelefono.$invalid||UserForms.cve_dep_ads === false ||UserForms.cmbStatus === false" type="button" id="btnModificar" class="btn btn-primary" ng-click="ctrl.ModificarCuota()" data-dismiss="modal">Modificar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <h3>Opciones en el Menú</h3>
                    <label for="lblDepAds">Grupo <select id="grupo" class="form-control" ng-options="option.Id as option.Descripcion for option in ctrl.grupos" ng-model="ctrl.cve_grupo"></select></label>
                    <input type="button" class="form-control btn btn-success" ng-click="ctrl.GuardarGrupoUsuario()" value="Agregar al grupo" />

                    <ol style="list-style-type:none" ng-repeat="mnuTree in ctrl.menu_Usuario">

                        <li style="color:#009aff" class="fa fa-check" ng-if="mnuTree.tituloMnuNvl" ng-click="ctrl.MostarMnu2(mnuTree.idSeccionTitulo)">{{mnuTree.tituloMnuNvl}}

                        <li style="list-style-type:none">

                            <ul>
                                <li class="fa fa-folder" ng-if="mnuTree.elementoMnuNvl">
                                    {{mnuTree.elementoMnuNvl}}
                                    <input id="{{mnuTree.idSeccionMnuNvl}}" ng-click="ctrl.agregarMnu(mnuTree.idSeccionMnuNvl)" type="checkbox" />
                                </li>

                                <li style="list-style-type:none">

                                    <ul>

                                        <li class="fa fa-file-text-o" ng-if="mnuTree.elementoMnuNvl4">

                                            {{mnuTree.elementoMnuNvl4}}
                                            <input class="{{mnuTree.idSeccionMnuNvl}}" id="{{mnuTree.idSeccionMnuNvl4}}" type="checkbox" ng-click="ctrl.agregarMnu(mnuTree.idSeccionMnuNvl4, mnuTree.idSeccionMnuNvl)" />
                                        </li>

                                    </ul>

                                </li>

                            </ul>

                        </li>
                    </ol>
                    <div>
                        <input ng-click="ctrl.guardarElementosSeleccionados()" type="button" class="btn btn-success" value="Generar Menú" />
                    </div>


                    <table style="width:80%">
                        <tbody ng-repeat="mnu in ctrl.menu_Usuario">
                            <tr>
                                <td ng-style="{'font-weight':((mnu.nivelMnu==0)?'bold':'normal')}">
                                    <img ng-src="{{mnu.imageUrlN}}"><img ng-src="{{mnu.imageUrl}}">
                                    {{mnu.descMnu}}
                                </td>
                            </tr>

                        </tbody>
                    </table>


                </div>
                <div id="menu2" class="tab-pane fade">
                    <h3>Depedencias Asignadas</h3>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6">
                                <div id="TablaDatos" style="overflow-y:scroll; height:400px;">
                                    <table class="table">
                                        <thead class="thead-dark">
                                            <tr>
                                                <td>CLAVE UR</td>
                                                <td>DESCRIPCIÓN</td>
                                                <td><button type="button" class="btn btn-primary" ng-click="ctrl.AsignarDepUsu(00000)">Agregar Todas</button></td>
                                            </tr>

                                        </thead>
                                        <tbody ng-repeat="disp in ctrl.depenciasDisponibles">
                                            <tr>
                                                <td>{{disp.ClaveUr}}</td>
                                                <td>{{disp.Descripcion}}</td>
                                                <td class=".col-7 .col-sm-4"><button type="button" class="btn btn-primary" ng-click="ctrl.AsignarDepUsu(disp.Id)">Agregar</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div id="TablaDatos" style="overflow-y:scroll; height:400px;">
                                    <table class="table">
                                        <thead class="thead-dark">
                                            <tr>
                                                <td><button type="button" class="btn btn-danger" ng-click="ctrl.EliminarDepUsu(00000)">Eliminar Todas</button></td>
                                                <td>CLAVE UR</td>
                                                <td>DESCRIPCIÓN</td>
                                            </tr>

                                        </thead>
                                        <tbody ng-repeat="disp in ctrl.depenciasAsignadas">
                                            <tr>
                                                <td class=".col-7 .col-sm-4"><button type="button" class="btn btn-danger" ng-click="ctrl.EliminarDepUsu(disp.Id)">Eliminar</button></td>
                                                <td>{{disp.ClaveUr}}</td>
                                                <td>{{disp.Descripcion}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>                </div>
                
            </div>
        </div>

        



        
    </div>

</div>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/global.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular.ng-modules.js"></script>
<script src="~/Scripts/angular-pagination.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="~/Scripts/Models/UsuariosModel.js"></script>
<script src="~/Scripts/Controllers/UsuariosController.js"></script>


